<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="header">
            <h1><%!resumee.header_.name_%></h1>
            <h2><%!resumee.header_.jobtitle_%></h2>
        </div>
        <div class="education">
            <h2>Educación</h2>
            <% for (auto const& education : resumee.education_) { %>
                <div class="">
                    <h3><%!education.title_%></h3>
                </div>
            <% } %>
        </div>
        <div class="experience">
            <h2>Experiencia</h2>
            <% for (auto const& experience : resumee.experience_) { %>
                <div class="">
                    <h3><%!experience.title_%></h3>
                    <div class="required_skills">
                        <%!plain(intersperse<std::vector>(experience.skills_, ", "))%>
                    </div>
                    <%!to_html_ul(experience.tasks_)%>
                </div>
            <% } %>
        </div>
        <div class="other">
        </div>
    </body>
</html>
<%e
namespace
{
    resumee::register_template_helper const _("web_test", web_test{});
}
